
@{
    ViewData["Title"] = "Confirm";
}

    <h2>Your order has been confirmed!</h2>

    <p>
        <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Main menu</a>
    </p>

